.outer-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 10px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 30px;
  background-color: #d0d0d0;
}

.form-group {
  padding: 5px;
}
